
# URL
scrapUrl=https://torgi.gov.ru/lotSearch2.html

# Используемый браузер - chrome, firefox, opera
selenideBrowser=chrome

# Размер окна браузера. По умолчанию 1920x1080 Full HD.
browserSize=1900x1050

# Директория для отчётов
reportDir=/home/zoer/CPM/html_reports/java

########################################################
# Параметры объектов
########################################################

# Минимальная площадь объекта
minArea=10

# Максимальная площадь объекта
maxArea=75

# Минимальный срок аренды, лет
minRentalPeriod=5

# Тип имущества (Zb: "Помещение")
propertyType=Помещение

# Вид договора (Zb: "Договор аренды")
contractType=Договор аренды

# Страна (Zb: "РОССИЯ")
country=РОССИЯ

# Местоположение имущества (город) (Zb: "Москва (г)")
propertyLocation=Москва (г)

# Столбец, по которому сортировать ("Коэффициент доходности")
sortFieldName=profitMargin

# Средняя стоимость аренды, рублей за кв.м. в месяц
averageRental=1292

# Количество доходных месяцев в году
profitMonths=10

# Стоимость предварительного ремонта, рублей за кв.м.
priorRepair=300

# Стоимость регистрации договора, рублей
contractRegistration=4000

# Мелкие расходы на запуск объекта
runningCost=15000

# Стоимость годовой страховки в Альфа-Страховании, рубли
# зависит от площади в метрах - до 100 кв.м = 4000 рублей
yearlyInsurance=4000

# Отопление, рублей за кв.м. в месяц
monthlyHeating=23

# Обслуживание ЖЭКом, рублей за кв.м. в месяц
housingOfficeMaintenance=28

# Бухгалтерское обслуживание, рублей в месяц
accountingService=2000

# Требуемый, приемлемый коэффициент доходности
requiredProfitMargin=25
